.login-container {
    width: max-content;
    min-width: 320px;
    margin: 50px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    border: solid 1px #2c2c2c;
    padding: 40px 40px;
}

.login-container .title {
    width: 320px;
}

.login-container .title h1 {
    font-size: 2rem;
    color: white;
    font-weight: 400;
}

.form {
    margin-top: 50px;
}

.form .input-box {
    margin-bottom: 20px;
}

.form .action-button {
    margin-top: 20px;
}

.auth-link-box {
    display: none;
}

@media screen and (max-width: 650px) {
    .login-container {
        border: none;
        border-radius: none;
        padding: 30px 30px;
    }

    .auth-link-box {
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .link {
        color: rgb(136, 136, 136);
    }

    .link a {
        color: rgb(136, 136, 136);
        text-decoration-color: rgb(136, 136, 136);
    }
}