.login-container {
    width: max-content;
    margin: 50px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container .title {
    max-width: 270px;
}

.login-container .title h1 {
    font-size: 2.5rem;
    text-align: center;
    text-align-last: center;
    color: #161616;
    font-weight: 500;
}

.form {
    margin-top: 30px;
}

.form .input-box {
    margin-bottom: 20px;
}

.form .action-button {
    margin-top: 50px;
}