.login-container {
    width: max-content;
    max-width: 320px;
    margin: 50px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container .title h1 {
    font-size: 2rem;
    color: #161616;
    font-weight: 400;
}

.form {
    margin-top: 50px;
}

.form .input-box {
    margin-bottom: 20px;
}

.form .action-button {
    margin-top: 50px;
}