.todo-container {
    margin: 50px auto;
    max-width: 425px;
}

.todo-container .todo-title h1 {
    color: #F9BB1C;
    font-weight: 500;
    font-size: 2.5rem;
}

@media screen and (max-width: 400px) {
    .todo-container {
        max-width: 350px;
    }
}

.todo-container .add-task-form {
    margin-top: 20px;
}

.todo-container .add-task-form .add-task-input-box {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    padding: 0px 15px;
    height: 45px;
}

.todo-container .add-task-form .add-task-input-box .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.todo-container .add-task-form .add-task-input-box .icon-box:hover {
    background-color: rgb(53, 53, 53);
}

.todo-container .add-task-form .add-task-input-box .icon-box .add-icon {
    font-size: 2rem;
    color: #F9BB1C;
}

.todo-container .add-task-form .add-task-input-box input {
    border: none;   
    outline: none;
    width: 100%;

    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: white;
    background-color: unset;
}

.tasks-container {
    margin-top: 50px;
}

.tasks-container .task-container {
    width: 100%;
    margin-top: 5px;
}

.tasks-container .task-container .task-title-box {
    max-width: calc(100% - 70px);
}

.footer-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.footer-logo a {
    text-decoration: none;
}

.footer-logo a h1 {
    color: #F9BB1C;
    font-size: 1.5rem;
    font-weight: 500;
}