.header-container {
    width: 100%;
    padding: 50px 50px 0 50px;
}

.header-container nav {
    display: flex;
    justify-content: space-between;
}

.logo-link {
    text-decoration: none;
}

.logo-link h1 {
    color: white;
    font-weight: 500;
    font-size: 2rem;
}

.auth-container {
    display: flex;
    align-items: center;
    
}

.auth-container a {
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
}

.auth-container h2 {
    color: white;
    font-weight: 500;
}

.auth-container .login-link {
    margin-right: 30px;
}

.auth-container .register-link {
    background-color: #F9BB1C;
}

.auth-container .register-link:hover {
    box-shadow: 0 0 15px 0 #bb8c14;
}

.auth-container .login-link:hover,
.auth-container .login-link:hover h2 {
    text-decoration: underline white;
}