.task-container {
    min-height: 45px;
    width: 100%;
    background-color: #999999;
    border-radius: 5px 5px 20px 5px;

    display: flex;
    justify-content: space-between;
}

.task-container .task-title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 270px;
    word-wrap: break-word;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.task-container .task-title-box h2 {
    font-weight: 500;
    font-size: 1.1rem;
    color: rgb(27, 27, 27);
    word-wrap: break-word;

}

.task-container .task-action {
    height: 100%;
    border-left: 2px solid rgb(27, 27, 27);
}

.task-container .task-action button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: unset;
    color: #121212;
    font-size: 2rem;
    height: 100%;
    padding: 0px 10px;

    cursor: pointer;
}