.task-container {
    width: 350px;
    height: auto;
    background-color: #F9BB1C;
    border-radius: 5px 5px 20px 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-container .task-title-box {
    max-width: 270px;
    word-wrap: break-word;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.task-container .task-action-box {
    height: 100%;
}

.task-container .task-action {
    width: 50px;
    height: 100%;
    border-left: 2px solid white;
}

.task-container .task-action button {
    border: none;
    background-color: unset;
    color: white;
    font-size: 2rem;
    height: 100%;
}